.card {
  margin: 20px;
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  padding: 10px;
  justify-content: center;
}
img {
  width: 100%;
}
.variant {
  display: flex;
  justify-content: space-between;
}
span {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid white;
}
.border {
  border: 3px solid red;
}
